[
  {
    "context": "petstudio-prod",
    "protocol": "ftp",
    "host": "195.179.238.246",
    "port": 21,
    "username": "u828573126.motiondesignz.com",
    "password": "REPLACE_ME",
    "remotePath": "/test/wp-content/plugins/pet-studio-elementor-widgets",
    "syncroot": "pet-studio-elementor-widgets"
  }
]
